<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Travel App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/Tourism1.jpg' %}" alt="Logo" width="70" height="64" style="border: 1px solid rgb(108, 191, 247);">
              </a>

              <h5 style="width:auto; border-radius:50px; padding:7px; border:2px solid rgb(11, 100, 122);">
                <img src="https://media.tenor.com/SIItbQT3ICEAAAAi/thumbs-up-ok.gif" width="50" height="50">
                Welcome to the Travel App</h5>

            
        </div>
    </nav>  
    <div>

        <ul class="nav nav-tabs">
          <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}" href>Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'fetch_flights' %}">Flights</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'fetch_hotels' %}">Hotels</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'fetch_cabs' %}">Cabs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'airport_cabs' %}">Airport Cabs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'homestays_villas' %}">Homestays & Villas</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="{% url 'outstation_cabs' %}">Outstation Cabs</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="{% url 'hourly_stays' %}">Hourly Stays</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'nearby_staycations' %}">Nearby Staycations</a>
                   </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flight_status' %}">Flight Status</a>
                   </li>  
        </ul>
        
  </div>
   <!-- <nav>
        <ul>
            <li><a href="{% url 'home' %}"> Home</a></li>
            <li><a href="{% url 'fetch_hotels' %}">Hotels</a></li>
            <li><a href="{% url 'fetch_flights' %}">Flights</a></li>
            <li><a href="{% url 'fetch_cabs' %}">Cabs</a></li>
            <li><a href="{% url 'airport_cabs' %}">Airport Cabs</a></li>
            <li><a href="{% url 'homestays_villas' %}">Homestays & Villas</a></li>
            <li><a href="{% url 'outstation_cabs' %}">Outstation Cabs</a></li>
            <li><a href="{% url 'hourly_stays' %}">Hourly Stays</a></li>
            <li><a href="{% url 'nearby_staycations' %}">Nearby Staycations</a></li>
            <li><a href="{% url 'flight_status' %}">Flight Status</a></li>
        </ul>
    </nav>
    -->
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
