<!-- bookings/templates/bookings/hotel_list.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel List</title>
  </head>
  <body>
    <header>
      <h1>Hotel List</h1>
    </header>
    <main>
      <div>
        <h3>Search Results for Hotels in {{ location }}:</h3>
        <p>Check In: {{ check_in }}</p>
        <p>Check Out: {{ check_out }}</p>
        <p>Room: {{ room }}</p>
        <p>Guests: {{ guests }}</p>
        <ul>
          {% for hotel in hotels %}
          <li>
            <strong>Name:</strong> {{ hotel.title }}<br />
            <strong>Price:</strong> {{ hotel.priceForDisplay }}<br />
            <strong>rating:</strong> {{ hotel.bubbleRating.rating }}<br />
            <!-- Add more details as needed -->
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
